@import "includes/_base.sass"

h1
  margin: 0

.waves
  height: 100%
  width: 100%
  z-index: 0
  position: absolute

.container
  height: 100vh
  height: calc(var(--vh, 1vh) * 100)
  width: 100vw
  position: relative

.skewed
  position: absolute
  bottom: 0
  right: 0
  height: 0
  weight: 0
  z-index: 2
  border-style: solid
  border-width: 0 0 100px 100vw
  transition: 0.4s
  border-color: transparent transparent #1B498C transparent
  @media all and (max-width: $break-xl)
    border-width: 0 0 95px 100vw

.translucent
  opacity: 0.6

.scroll-indicator
  width: 56px
  height: 56px
  position: absolute
  bottom: 0
  right: 0
  z-index: 3
  font-size: 28px
  padding: 20px 50px
  transition: 0.4s
  @media all and (max-width: $break-xl)
    padding: 20px 40px
  @media all and (max-width: $break-md)
    padding: 15px 30px
  &:hover
    opacity: 1

.projects-page
  height: 98vh
  background: linear-gradient(to bottom, $gradient-top, $gradient-bottom)

.inner-container
  z-index: 1
  position: absolute
  height: 100%
  width: 100%
  // padding: 70px
  display: flex

.about
  align-self: flex-end
