@import "includes/_base.sass"

h1
  margin: 0

.waves
  height: 100%
  width: 100%
  z-index: 0
  position: absolute

.container
  height: 100vh
  height: calc(var(--vh, 1vh) * 100)
  width: 100vw
  position: relative

.fallback-bg
  background: linear-gradient(to bottom, $gradient-top, $gradient-bottom)

.skewed
  position: absolute
  bottom: 0
  right: 0
  height: 0
  weight: 0
  z-index: 2
  border-style: solid
  border-width: 0 0 100px 100vw
  transition: 0.4s
  border-color: transparent transparent $gradient-top transparent
  @media all and (max-width: $break-xl)
    border-width: 0 0 95px 100vw

.translucent
  opacity: 0.6

.scroll-indicator
  width: 56px
  height: 56px
  position: absolute
  bottom: 0
  right: 0
  z-index: 3
  font-size: 28px
  padding: 20px 50px
  transition: 0.4s
  @media all and (max-width: $break-xl)
    padding: 20px 40px
  @media all and (max-width: $break-md)
    padding: 15px 30px
  &:hover
    opacity: 1

.projects-page
  height: 98vh
  background: linear-gradient(to bottom, $gradient-top, $gradient-bottom)

.inner-container
  z-index: 1
  position: absolute
  height: 100%
  width: 100%
  display: flex

.blur
  background: rgba(255, 255, 255, 0.25)
  backdrop-filter: saturate(170%) blur(5px)
  // padding: 5px
  width: max-content
  border-radius: 10px

.lower
  display: flex
  align-self: flex-end
  width: 100%
  justify-content: space-between
  padding-bottom: 100px
  transition: 0.4s
  @media all and (max-width: $break-lg)
    flex-direction: column
    padding-bottom: 150px

.about
  margin-left: 70px
  transition: 0.4s
  padding-right: 50px
  > h1
    transition: 0.4s
    font-size: 48px
    font-weight: 700
  > p
    transition: 0.4s
    font-size: 24px
    font-weight: 600
  @media all and (max-width: $break-lg)
    margin-bottom: 0
    > h1
      font-size: 38px
    > p
      font-size: 20px
  @media all and (max-width: $break-md)
    padding-right: 30px
    margin-left: 40px
    > h1
      font-size: 34px
    > p
      font-size: 18px
  @media all and (max-width: $break-sm)
    margin-left: 30px
    > h1
      font-size: 32px
    > p
      font-size: 16px

.links
  padding-right: 70px
  display: flex
  flex-direction: column
  align-items: flex-end
  transition: 0.4s
  justify-content: center
  @media all and (max-width: $break-lg)
    margin-top: 30px
    display: flex
    flex-direction: column-reverse
    align-items: flex-start
    justify-content: space-around
    text-align: left
    padding-right: 10px
    padding-left: 70px
  @media all and (max-width: $break-md)
    // padding-right: 30px
    padding-left: 40px
  @media all and (max-width: $break-sm)
    padding-left: 30px

.link
  text-align: right
  padding: 10px 20px
  margin-bottom: 10px
  > a
    color: white
    text-decoration: none
    font-weight: 600
  // &:not(:last-child)

.upper
  position: absolute
  top: 0
  left: 0
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 60px
  transition: 0.4s
  @media all and (max-width: $break-md)
    padding-top: 50px
  @media all and (max-width: $break-sm)
    padding-top: 40px

.languages
  transition: 0.4s
  margin-right: 70px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  > a
    z-index: 4
    display: flex
    align-items: center
    justify-content: center
    padding: 8px 13px
    > svg
      border-radius: 5px
      width: 35px
  @media all and (max-width: $break-md)
    margin-right: 40px
  @media all and (max-width: $break-sm)
    margin-right: 30px

.language-selector
  position: absolute
  height: 19px
  width: 40px
  padding: 5px
  z-index: 3
  transition: 0.4s
  border-radius: 7px
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1)
  &.english
    left: 6px
  &.french
    left: 66px


.logo
  align-self: flex-start
  margin-left: 70px
  transition: 0.4s
  margin-right: 30px
  > img
    transition: all 0.4s ease
    height: 82px
    width: 82px
    &:hover
      animation: color-switch 0.7s linear forwards infinite
  @media all and (max-width: $break-lg)
    > img
      height: 75px
      width: 75px
  @media all and (max-width: $break-md)
    margin-left: 40px
    > img
      height: 65px
      width: 65px
  @media all and (max-width: $break-sm)
    margin-left: 30px
    > img
      height: 56px
      width: 56px

@keyframes color-switch
  0%
    // green
    filter: invert(18%) sepia(63%) saturate(1065%) hue-rotate(55deg) brightness(101%) contrast(101%)
  33.33%
    // orange
    filter: invert(14%) sepia(47%) saturate(5961%) hue-rotate(218deg) brightness(100%) contrast(102%)
  66.66%
    // pink
    filter: invert(40%) sepia(42%) saturate(1831%) hue-rotate(279deg) brightness(100%) contrast(102%)
  100%
    // yellow
    filter: invert(8%) sepia(27%) saturate(1066%) hue-rotate(332deg) brightness(104%) contrast(103%)

.company
  color: $company-color
  text-decoration: none
  transition: 0.2s
  &:hover
    color: lighten($company-color, 10%)
