extends layout

block scripts
  script
    | // hide the footer and the links div in the beginning (for homepage only)
    | document.getElementById("footer").classList.add("hide")
    | document.getElementById("links").classList.add("hide")
  // clientJS CDN
  script(src="https://cdn.jsdelivr.net/npm/clientjs@0.1.11/dist/client.min.js")
  // main JS file for the homepage
  script(async src="/js/homepage.js")

append content
  #intro
    h2#main-heading.headline.size-limit-heading.hide(data-text="Hello, stranger.") Hello#[span#notFirstVisit.hide  again], stranger.
    p#intro-text.size-limit-text.hide Well, you aren't really
      br
      |  a stranger to me, 
      span.client-info#ip-address
      | .  
      br
      | You're viewing this page using 
      span.client-info#browser
      br.line-break
      |  on 
      span.client-info#operating-system
      |  from  
      span.client-info#place
      | . Of course, I  
      br.line-break
      | have no proof of this information if 
      br.line-break
      |  you are behind a proxy or a VPN.
      br
      br.line-break
      | Alright, enough about you; 
      br.line-break
      | you're probably wondering 
      br.line-break
      |  who I am.
    h2#about-me.size-limit-heading.hide.glitch(data-text="I am Abdullah Khan.") I am Abdullah Khan.

    p#about-text.size-limit-text.hide I design and develop. 
      br
      | I could waste your time by building a thorough website which would
      br.line-break
      |  convince you that I am good at doing #[em X] and possess #[em Y] skills but 
      br.line-break
      |  time is of the essence. 
      br
      br
      |  To see what I'm up to these days, take a look at my GitHub page.
      br.line-break
      |  You can also have a look at my portfolio, where I host most of my 
      |  projects along with blurbs about them.
      br
      br
      | Wanna talk? Click on the e-mail link below. 