extends layout

block scripts
  script(src="https://cdn.jsdelivr.net/npm/clientjs@0.1.11/dist/client.min.js")
  script
    | document.getElementById("email-link").addEventListener("click",function(){prompt("you can copy my email, below: ","abdullahkhan0503@gmail.com")});
    | if(window.document.documentMode !== undefined){document.write("<script src=\"/js/homepage-oldie.js?v=1\"></scr"+"ipt>")} else{(document.write("<script async src=\"/js/homepage.js?v=2\"></scr"+"ipt>"))};

append content
  #links
    p.size-limit-nav
      a(target="_blank" href="https://github.com/abdullah-K" rel="noopener") GitHub
      span.dash |
    p.size-limit-nav
      a(target="_blank" href="resume.pdf" rel="noopener") Résumé
      span.dash |
    p.size-limit-nav
      a(href="/blog") Blog
      span.dash |
    p.size-limit-nav
      a(href="#" id="email-link" title="click to see") Email
  #intro
    h2#main-heading.headline.size-limit-heading.hide(data-text="Hello, stranger.") Hello#[span#notFirstVisit.hide  again], stranger.
    p#intro-text.size-limit-text.hide Well, you aren't really
      br
      |  a stranger to me, 
      span.client-info#ip-address
      | .  
      br
      | You're viewing this page using 
      span.client-info#browser
      br.line-break
      |  on 
      span.client-info#operating-system
      |  from  
      span.client-info#place
      br
      br.line-break
      | Now, you're probably wondering 
      br.line-break
      |  who I am.
    h2#about-me.size-limit-heading.hide.glitch(data-text="I am Abdullah Khan.") I am Abdullah Khan.

    p#about-text.size-limit-text.hide I design and develop. 
      br
      | I could waste your time by building a thorough website which would
      br.line-break
      |  convince you that I am good at doing #[em X] and possess #[em Y] skills but 
      br.line-break
      |  time is of the essence. 
      br
      br
      |  To see what I'm working on these days, take a look at my #[a.link(href="https://github.com/abdullah-K" target="_blank" rel="noopener") #[em GitHub page]].
      //- br
      //- |  To see what I've already worked on, head over to #[a.link(href="/lab" rel="noopener") #[em my lab]].
      br.line-break
      |  Find my musings over at #[a.link(href="/blog" rel="noopener") #[em the blog]].
      br
      br
      | #[em Let's talk]. Start by clicking on the email link below.
