doctype html

// Abdullah Khan 
// Personal website 
// Last updated: January 2018 
// https://github.com/abdullah-K/khanabdullah.com 

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    meta(name="author" content=author)
    meta(name="description" content=description)
    // normalize.css for a consistent cross-browser CSS reset
    link(rel="stylesheet" href="/css/normalize.min.css")
    // website favicon
    link(rel="icon" href="https://avatars2.githubusercontent.com/u/21252681?s=460")
    // main CSS file
    link(rel="stylesheet" href="/css/styles.min.css?v=1")
    block head

  body
    noscript
      h1.size-limit-heading.animated.fadeIn.margin-mid hmm, if you came here to look at a blank page...
      h2.size-limit-text.animated.fadeIn.margin-mid you're in the right place!
      h4.size-limit-text.animated.fadeIn.margin-max if not, you might want to enable JavaScript on here.
        br
        | (I promise, no sneaky trackers or any of that stuff...)
    block content
      #links
        p.size-limit-nav
          a(target="_blank" href="https://github.com/abdullah-K") GitHub
          span.dash |
        p.size-limit-nav
          a(target="_blank" href="https://codepen.io/abdullah-K") Codepen
          span.dash |
        p.size-limit-nav
          a(target="_blank" href="/blog") Blog
          span.dash |
        p.size-limit-nav
          a(href="#" id="email-link" title="click to see") Email
        
    block footer
      footer#footer
        a#footer-link(href='/')
          #footer-content
            img#footer-logo(src='/img/logo_bare.png', alt='Abdullah\'s logo')
    #bottom-background
    script
      | document.getElementById("email-link").addEventListener("click",function(){prompt("you can copy my email, below: ","abdullahkhan0503@gmail.com")});
    block scripts
