doctype html

// Abdullah Khan 
// Personal website 
// https://github.com/abdullah-K/khanabdullah.com 

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    meta(name="author" content=author)
    meta(name="description" content=description)
    // normalize.css for a consistent cross-browser CSS reset
    link(rel="stylesheet" href="/css/normalize.min.css")
    // website favicon
    link(rel="icon" href="/img/favicon.png?v=3")
    // main CSS file
    link(rel="stylesheet" href="/css/styles.min.css?v=1")
    block head

  body
    noscript
      <h2 class="headline size-limit-heading glitch" id="main-heading" data-text="Hello, stranger.">Hello, stranger.</h2><h2 class="size-limit-heading glitch" id="about-me" data-text="I am Abdullah Khan.">I am Abdullah Khan.</h2><div id="intro"><p class="size-limit-text" id="about-text">I design and develop. <br/>I could waste your time by building a thorough website which would<br class="line-break"/> convince you that I am good at doing <em>X</em> and possess <em>Y</em> skills but <br class="line-break"/> time is of the essence. <br/><br/> To see what I'm working on these days, take a look at my <a class="link size-limit-nav" href="https://github.com/abdullah-K" target="_blank" rel="noopener"><em>GitHub page</em></a>.<br/> To see what I've already worked on, head over to <a class="link size-limit-nav" href="/lab" rel="noopener"><em>my lab</em></a>.<br/><em>Let's talk.</em> Send me an email: <span style="-webkit-user-select:all;-moz-user-select:all;-ms-user-select:all;user-select: all;text-decoration:underline;">contact@khanabdullah.com</span></p></div>
    block content
        
    block footer
      footer#footer
        a#footer-link(href='/')
          #footer-content
            img#footer-logo(src='/img/logo.png', alt='Abdullah\'s logo')
    #bottom-background
    block scripts
