extends ../layout

block head
  // CSS file for individual project page
  link(rel="stylesheet" href="/css/experiment-styles.min.css?v=1")

block content
block footer
  footer#footer
    a#footer-link(href='/lab')
      #footer-content
        img#footer-logo(src='/img/logo.png', alt='Abdullah\'s logo')
