svg(xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewbox='0 0 172 172' width="60" style=' fill:#000000;')
  g(fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal')
    path(d='M0,172v-172h172v172z' fill='none')
    g(fill='#ffffff')
      path(d='M143.33333,28.66667h-114.66667c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v86c0,7.91917 6.41417,14.33333 14.33333,14.33333h114.66667c7.91917,0 14.33333,-6.41417 14.33333,-14.33333v-86c0,-7.91917 -6.41417,-14.33333 -14.33333,-14.33333zM140.47383,59.11783l-50.6755,31.67667c-2.322,1.45483 -5.27467,1.45483 -7.59667,0l-50.6755,-31.67667c-1.77733,-1.11083 -2.8595,-3.06017 -2.8595,-5.15283v0c0,-4.773 5.25317,-7.68267 9.29517,-5.15283l48.03817,30.02117l48.03817,-30.02117c4.042,-2.52983 9.29517,0.37983 9.29517,5.15283v0c0,2.09267 -1.08217,4.042 -2.8595,5.15283z')
