<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="./assets/img/favicon.png" type="image/png")
    title= title
    link(rel="stylesheet", href="./css/styles.min.css")
    block head
  body.fade-in
    section.container.error-page.fallback-bg
      .upper.secondary
        a(href="/").logo.no-cursor
          img(alt="Abdullah's logo" src="./assets/img/logo.png" height="96" width="96")
        h1 Error 404
      .center
        h1 This page does not exist
        .link.blur
          a(href="/").no-cursor
            include ../icons/home
            span Go back home
