<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="./assets/img/favicon.png" type="image/png")
    title= title
    link(rel="stylesheet", href="./css/styles.min.css")
    block head

  body
    #circle-cursor
    section.container
      .inner-container
        block landing
      .skewed
      a(href="#projects").no-cursor.smooth-scroll
        .scroll-indicator.translucent
          svg(xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='56' height='56' viewbox='0 0 226 226' style=' fill:#000000;')
            g(fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal')
              path(d='M0,226v-226h226v226z' fill='none')
              g(fill='#ffffff')
                path(d='M113,28.25c-5.198,0 -9.41667,4.21867 -9.41667,9.41667v123.07877l-36.37923,-36.37923c-3.68192,-3.68192 -9.64326,-3.68192 -13.31576,0l-0.80924,0.80925c-3.68192,3.68192 -3.68192,9.64325 0,13.31575l53.26302,53.26302c3.68192,3.68192 9.64325,3.68192 13.31575,0l53.26302,-53.26302c3.68192,-3.68192 3.68192,-9.64325 0,-13.31575l-0.80924,-0.80925c-3.68192,-3.68192 -9.64326,-3.68192 -13.31576,0l-36.37923,36.37923v-123.07877c0,-5.198 -4.21867,-9.41667 -9.41667,-9.41667z')
      .waves
    section.container.projects-page#projects
      block second

    script(src="./js/bundle.min.js" type="text/javascript")
    block scripts
