<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="./assets/img/favicon.png" type="image/png")
    title= title
    link(rel="stylesheet", href="./css/styles.min.css")
    block head

  body
    #circle-cursor
    section.container
      .inner-container
        block landing
      .skewed
      .scroll-indicator
        h1 v
      .waves
    section.container.projects-page
      block second

    script(src="./js/bundle.min.js" type="text/javascript")
    block scripts
