<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="./assets/img/favicon.png" type="image/png")
    title= title
    link(rel="stylesheet", href="./css/styles.min.css")
    block head

  body.fade-in
    #circle-cursor
    section.container
      .inner-container.fallback-bg
        block landing
      .skewed
      a(href="#projects").no-cursor
        .scroll-indicator.translucent
          include icons/scroll-arrow
      .waves
    section.container.projects-page
      block second

    script(src="./js/bundle.min.js" type="text/javascript")
    block scripts
