extends ../exp-layout

append content
  .container
    .project-overview
      .project-title
        img(src="../../img/favicon.png")
        h1 khanabdullah.com
      .project-about
        p.project-intro An overview of the inner workings of this website and the many purposes it serves.
        ul.project-tech
          - let techList = ["Node", "Express", "Nginx", "Postfix", "Pug", "SASS"]
          each item in techList
            li= item
    img.project-img(src="/img/lab/website.png")
    .project-desc
      h2 Details
      p.project-details 
        | khanabdullah.com is a Node.js application hosted on an Ubuntu 16.04 VPS. This server runs the Node application, managed by #[a.link(href="https://pm2.keymetrics.io/" target="_blank") PM2], through an Nginx reverse proxy. Nginx handles SSL using #[a.link(href="https://letsencrypt.org/" target="_blank") Let's Encrypt] and response compression using #[a.link(href="https://en.wikipedia.org/wiki/Gzip" target="_blank") gzip].
        br
        br
        | The Ubuntu machine is also configured to run #[a.link(href="https://en.wikipedia.org/wiki/Postfix_(software)" target="_blank") Postfix] which I use as a mail server with #[span(style="user-select: all;text-decoration:underline") contact@khanabdullah.com]. It is capable of forwarding email to my main Gmail address and I use it as an alias to send email, too. The mail server uses SPF and is configured to utilize the DKIM email authentication standard as well as the DMARC system.
        br
        br
        | As for development, the site's back-end is built using #[a.link(href="https://expressjs.com/" target="_blank") Express] and the front-end using #[a.link(href="https://github.com/pugjs/pug" target="_blank") Pug] as a view engine hooked up to Express. All the styling is done using #[a.link(href="https://sass-lang.com/" target="_blank") SASS], which is passed to the #[a.link(href="https://gulpjs.com/" target=")blank") Gulp] build system to produce minified and prefixed CSS code.
        br
        br
        | This website was designed and built with #[strong performance] in mind. It scores a #[em(style="color:#52ca39;") 100%] on both mobile and desktop on Google's #[a.link(href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fkhanabdullah.com%2F" target="_blank") PageSpeed Insights] with average page load times of under 1 second.
    .project-links
      a.project-link(href="https://github.com/abdullah-k/khanabdullah.com" target="_blank") Source code
      a.project-link(href="/") Live
