extends ../exp-layout

block content
  
append content
  .container
    .project-overview
      .project-title
        h1 openCV Face Recognition
      .project-about
        p.project-intro A short but comprehensive explanation of this OpenCV application capable of detecting and recognizing faces.
        ul.project-tech
          - let techList = ["Python", "OpenCV"]
          each item in techList
            li= item
    img.project-img(src="/img/lab/website.png")
    .project-desc
      h2 Details
      p.project-details 
        | This web application utilizes the open source computer vision library, OpenCV, and implements the core workings of the Haar Feature-based Cascade Classifiers and the concept of object detection in Python.
        br
        br
        | Once the machine receives a dataset of images of a certain face, OpenCV trains a model from this set of images using the FisherFace algorithm, which is divided into two main stages: the preprocessing stage and the processing stage. After the computer has acquired the given images, the RGB picture is converted to grayscale which concludes the first stage. 
    .project-links
      a.project-link(href="https://github.com/abdullah-K/face-recognition" target="_blank") Source code
