extends ../exp-layout

prepend head
  // override title to get the correct letter casing
  title socketChat | Abdullah Khan's Lab

append content
  .container
    .project-overview
      .project-title
        img(src="../../img/lab/socketChat.png")
        h1 socketChat
      .project-about
        p.project-desc A beautifully designed messaging application featuring private rooms!
        ul.project-tech
          - let techList = ["Node", "Express", "Socket.io", "Pug", "SASS"]
          each item in techList
            li= item
    img.project-img(src="../../img/lab/socketChat-demo.png")
    .project-desc
      h2 Details
      p.project-details 
        | From its origin as a side project in high school, socketChat has since been completely rewritten from scratch and brings exciting new features as well as a beautifully redesigned interface. This time around, socketChat was made without jQuery and instead, it was built using #[a.link(href="https://expressjs.com/" target="_blank") Express], #[a.link(href="https://github.com/pugjs/pug" target="_blank") Pug] templates, #[a.link(href="https://sass-lang.com/" target="_blank") SASS], and of course, #[a.link(href="https://socket.io" target="_blank") Socket.IO].
        br
        br
        | When a user first visits socketChat, they are redirected to the login page where they are presented with 3 options. They can join a #[em global] room, which is open to every socketChat user. Otherwise, they can #[em create] or #[em join] a secret room which is exclusive to users who are given access to them. When a secret room is created, a server-side #[a.link(href="https://socket.io/docs/rooms-and-namespaces/" target="_blank") namespace] is created and then assigned a random alphanumeric code. The code is available on the client-side and is used to invite others to the room. Also, a room is automatically destroyed once everyone leaves it.
        br
        | Once the user joins a room, global or secret, their username is displayed along with everyone else's and a notification is presented to everyone. They also get assigned a random color to set them apart from everyone else!
        br
        br
        | Try socketChat out using the "Live" button below! You can also take a look at the source code on GitHub, if you're into that stuff.
    .project-links
      a.project-link(href="https://khanabdullah.com/socketChat") Live
      a.project-link(href="https://github.com/abdullah-k/socketChat" target="_blank") Source code
