extends _layouts/home

block head
  link(rel="stylesheet", href="./css/styles.min.css")

block content
  .waves

block scripts
  script(src="./assets/lib/three.min.js")
  script(src="./assets/lib/vanta.waves.min.js")
  script(src="./js/main.min.js" type="text/javascript")
