extends ../layout

block content
  #intro
    h2#main-heading.size-limit-heading.fadeIn.animated I am currently working on finishing this page.
  #links
    p.size-limit-nav
      a(target="_blank" href="https://github.com/abdullah-K") GitHub
      span.dash |
    p.size-limit-nav
      a(target="_blank" href="https://codepen.io/abdullah-K") Codepen
      span.dash |
    p.size-limit-nav
      a(target="_blank" href="#") Portfolio
  block footer