@import "../lib/normalize.scss"
@import "./_variables.sass"

@font-face
	font-family: 'Josefin Sans'
	font-style: normal
	font-weight: 400
	font-display: swap
	src: local(""), url('../assets/font/JosefinSans-Regular.woff2') format("woff2"), url('../assets/font/JosefinSans-Regular.woff') format("woff")

@font-face
	font-family: 'Josefin Sans'
	font-style: normal
	font-weight: 700
	font-display: swap
	src: local(""), url('../assets/font/JosefinSans-Bold.woff2') format("woff2"), url('../assets/font/JosefinSans-Bold.woff') format("woff")

/*! CSS for khanabdullah.com */
body, html
	width: 100vw
	height: 100vh
	background: $background
	color: $text-primary
	overflow-x: hidden
	font-family: "Josefin Sans", sans-serif
	font-weight: 400
