/* colors */
$background: #1B498C
$gradient-top: #1B498C
$gradient-bottom: #0C2A55

$text-primary: #fff

$cursor-border: #e3e3e3
$cursor-background: rgba(255, 255, 255, 0.1)

/* breakpoints */
$break-xl: 1200px
$break-lg: 992px
$break-md: 768px
$break-sm: 576px
